.team {
	.team-block-col:last-child .team-block {
		margin-bottom: 0 !important;
	}

	.team-block{
		img{
			border-radius: 5px;
		}
		.team-socials{
			display: inline;
			float: right;
			font-size: initial;

			.list-inline-item:not(:last-child){
				margin-right: 0.3rem;
			}
		}
	}
}
