{{/*
    use the template as follows:
    {{ partial "fill-image.html" (dict "asset" . "format" "370x420 q80 jpg" "alt" "Title of the image" "class" "mt-4") }}
    ("alt" and "class" parameters are optional:)
    {{ partial "fill-image.html" (dict "asset" . "format" "370x420 q80 jpg") }}
*/}}

{{- $image := partial "get-image.html" .asset -}}
{{- $image = $image.Fill .format -}}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" class="img-fluid{{ with .class }} {{ . }}{{ end }}"{{ with .alt }} alt="{{ . }}"{{ end }}>
{{- "" -}}