{{ $image := partial "get-image.html" (cond (isset .Params "bgimage") .Params.BgImage "images/bg/background.jpg") }}
{{ if gt $image.Width 1920 }}{{ $image = $image.Resize "1920x" }}{{ end }}
{{ $image = $image.Filter (images.Gamma 0.5) (images.Brightness -20) }}
<!--  (images.Brightness -5) (images.GaussianBlur 1) (images.Colorize 338 65 10) -->
<section class="page-title bg-cover" style="background-image: url('{{ $image.RelPermalink }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <!-- <span class="text-white">About Us</span> -->
          <h1 class="text-capitalize mb-5 text-lg">{{ if .Draft }}[ {{ .Title }} ]{{ else }}{{ .Title }}{{ end }}</h1>
          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{{ .Site.BaseURL }}" class="text-white">{{ .Site.Params.home }}</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item text-white-50">{{ .Title }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
