{{ define "main" }}

{{ partial "page-title" . }}

<section class="section case-study">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-lg-6">
          <div class="case-img">
            {{ partial "fill-image.html" (dict "asset" .Params.Image "format" "600x800 q60 jpg" "alt" .Title) }}
          </div>
        </div>

        <div class="col-lg-6 col-md-8">
          <div class="case-content pl-4 mt-4 mt-lg-0 content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-5">Check Out Our Recent Projects</h2>
      </div>
    </div>
    <div class="row">
      {{ range first 3 (where .Site.Pages "Type" "portfolio" )}}
      {{ partial "portfolio-item.html" . }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}