{{ define "main" }}
{{ with site.GetPage "/404" }}

{{ $image := partial "get-image.html" .Params.bgimage }}
{{ $image = $image.Filter (images.Gamma 3) (images.Brightness -47) }}
{{ $image = $image.Resize "1920x q75" }}

<section class="page-title title-404 bg-cover" style="background-image: url('{{ $image.RelPermalink }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center content">
                    <!-- <span class="text-white">About Us</span> -->
                    <h1 class="text-capitalize mt-2 text-lg">{{ .Title }}</h1>
                    <p class="text-white-50">{{ .Content | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
