@import 'variables';

.bg-color-platinum {
  background-color: $platinum;
}
.text-color-platinum {
  color: $platinum
}
.bg-color-gold {
  background-color: $gold;
}
.text-color-gold {
  color: $gold;
}
.bg-color-silver {
  background-color: $silver;
}
.text-color-silver {
  color: $silver;
}
.bg-color-bronze {
  background-color: $bronze;
}
.text-color-bronze {
  color: $bronze;
}
