$light: #fff;
$primary-color: #ef611e;
$secondary-color:#ef611e;
// $base-color:#62618d;
$base-color:#111;
$black:#5e2137;
// $black:#031043;
$border-color:#fafafa;
$primary-font: 'Rubik', sans-serif;
$secondary-font:'Montserrat', sans-serif;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);