{{ $type := .Get "type" }}

{{ if eq $type "basic" }}
<div>
    {{ .Inner }}
</div>

{{ else if eq $type "banner" }}
{{ $bannerName := .Get "name" }}
{{ range $key, $value := .Site.Data.banners }}
{{ if eq $key $bannerName }}
{{ with $value }}
<section class="banner d-flex align-items-center" style="background-image: url('{{ .bgImage | absURL}}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-xl-8">
                <div class="block">
                    <span class="text-uppercase text-sm letter-spacing">{{ .subtitle | markdownify }}</span>
                    <h1 class="mb-3 mt-3">{{ .title | markdownify }}</h1>
                    <p class="mb-5">{{ .content | markdownify }}</p>
                    {{ if .button.enable }}
                    {{ with .button }}
                    <a href="{{ .link | absURL }}" class="btn btn-main">{{ .label }} <i class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}

{{ end }}
