{{- $config := dict "0" true -}}
{{- if reflect.IsMap $.Params -}}
{{- $config = $.Params -}}
{{- end -}}
{{- if (isset $config "config") -}}
{{- $config = merge (index $.Page.Params $.Params.config) $config -}}
{{- end -}}

{{- $type := "basic" -}}
{{- if isset $config "type" -}}
{{- $type = $config.type -}}
{{- end -}}

{{- $clients_default_format := "240x240 q95 jpg" -}}

{{- with $config -}}

{{- if eq $type "basic" -}}
<section class="section{{ with .class }} {{ . }}{{ end }}" {{ with $.Get "style"}} style="{{ . | safeCSS }}" {{ end }}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    {{ $.Inner | markdownify }}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Slider -->
{{- else if eq $type "banner" -}}
{{- $image := partial "get-image.html" .bgimage -}}
{{- $image = $image.Resize "1920x q80 jpg" -}}
<link rel="preload" as="image" href="{{ $image.RelPermalink }}" />
<section class="banner d-flex align-items-center"
    style="background-image: url('{{ $image.RelPermalink }}');{{ with $.Get "style" }} {{ . | safeCSS }}{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-xl-8">
                <div class="block content">
                    <span class="text-uppercase text-sm letter-spacing">{{ .subtitle | markdownify }}</span>
                    <h1 class="mb-3 mt-3">{{ .title | markdownify }}</h1>
                    <div class="mb-2">{{ .content | markdownify }}</div>
                    {{- with .button -}}
                    <a href="{{ .link | relURL }}" class="btn btn-main mt-4 mr-4">{{ .label }} <i
                            class="ti-angle-right ml-2"></i></a>
                    {{- end -}}
                    {{- with .button2 -}}
                    <a href="{{ .link | relURL }}" class="btn btn-solid-border mt-4">{{ .label }} <i
                            class="ti-angle-right ml-2"></i></a>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Slider -->

<!-- banner feature -->
{{- else if eq $type "bannerFeature" -}}
<section class="section about" {{ with $.Get "style"}} style="{{ . | safeCSS }}" {{ end }}>
    <div class="container">
        <div class="row">
            {{ range .featureitem }}
            <div class="col-lg-4 col-md-6 ">
                <div class="about-item">
                    <div class="icon">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <div class="content">
                        <h4 class="mt-3 mb-3">{{ .title | markdownify }}</h4>
                        <p>{{ .content | markdownify }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /banner feature -->

<!-- feature -->
{{- else if eq $type "feature" -}}
<section class="section process">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="process-block pl-4">
                    <span class="text-uppercase text-sm letter-spacing">{{ .subtitle | markdownify }}</span>
                    <h2 class="mb-4 mt-3">{{ .title | markdownify }}</h2>
                    <div class="content mb-4">{{ $.Inner | markdownify }}</div>
                </div>
            </div>

            <div class="col-lg-7 col-xs-12 col-md-12">
                <div class="row">
                    {{ range .featureitem }}
                    <div class="col-sm-6 mb-4">
                        <div class="icon-block text-center">
                            <i class="{{ .icon }}"></i>
                            <h5>{{ .title | markdownify }}</h5>
                            <p>{{ .content | markdownify }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /feature -->

<!-- call to action -->
{{- else if eq $type "cta" -}}
{{- $image := partial "get-image.html" .background -}}
{{- $image = $image.Resize "1920x q60 jpg" -}}
<link rel="preload" as="image" href="{{ $image.RelPermalink }}" />
<section class="section cta" style="background: url('{{ $image.RelPermalink }}') no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cta-content bg-white p-5 rounded">
                    <h3 class="mb-4">{{ .title | markdownify }}</h3>
                    {{ if .button.enable }}
                    <p class="mb-30">{{ .content | markdownify }}</p>
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-main">{{ .label }}<i
                            class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                    {{ else }}
                    <p class="mb-0">{{ .content | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /call to action -->

<!-- section portfolio -->
{{- else if eq $type "project" -}}
<section class="section portfolio pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="heading">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row portfolio-gallery">
            {{ range (where $.Site.RegularPages "Type" "portfolio" )}}
            {{ partial "portfolio-item.html" . }}
            {{ end }}
        </div>
    </div>
</section>
<!-- /section portfolio -->

<!-- Counter -->
{{- else if eq $type "counter" -}}
<section class="section counter">
    <div class="container">
        <div class="row">
            {{ range .counteritem }}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-4 mb-lg-0">
                    <h2 class="mb-0"><span class="counter-stat font-weight-bold">{{ .count }}</span>{{ with .unit }}
                        {{ . }}{{ end }}</h2>
                    <p>{{ .title | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /Counter -->

<!-- Clients Slider -->
{{- else if eq $type "clients" -}}
<section class="section awards{{ with .class }} {{ . }}{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="why-content">
                    <h2 class="mb-4"{{ with .color }} style="color: {{ . }};"{{ end }}>{{ .title | markdownify }}</h2>
                </div>
                {{ with .content }}<p class="mb-5">{{ . | markdownify }}</p>{{ end }}
            </div>
        </div>
        <div class="row">
            {{ $bigger := .bigger }}
            {{ range .sponsors }}
            {{ with partial "sponsor.html" (dict "sponsor" . "ctx" $) }}
            <div class="{{ if $bigger }}col-lg-3 col-md-4 col-6{{ else }}col-lg-2 col-md-3 col-4{{ end }}">
                <div class="award-img-block">
                    <a href="{{ .url }}" class="award-img">
                        {{ partial "fit-image.html" (dict "asset" .logo "format" $clients_default_format "alt" .name "title" .name "deferred" "true") }}
                    </a>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<!-- /Clients Slider -->

<!-- clients_twocolumns -->
{{- else if eq $type "clients_twocolumns" -}}
<section class="section awards{{ with .class }} {{ . }}{{ end }}">
    <div class="container">
        <div class="row">
            {{ range .sections }}
            <div class="col-12 col-lg-6">
                <div class="why-content">
                    <h2 class="mb-4"{{ with .color }} style="color: {{ . }};"{{ end }}>{{ .title | markdownify }}</h2>
                </div>
                {{ with .content }}<p class="mb-5">{{ . | markdownify }}</p>{{ end }}
                <div class="row">
                    {{ $bigger := .bigger }}
                    {{ range .sponsors }}
                    {{ with partial "sponsor.html" (dict "sponsor" . "ctx" $) }}
                    <div class="{{ if $bigger }}col-lg-6 col-md-4 col-6{{ else }}col-lg-4 col-md-3 col-4{{ end }}">
                        <div class="award-img-block">
                            <a href="{{ .url }}" class="award-img">
                                {{ partial "fit-image.html" (dict "asset" .logo "format" $clients_default_format "alt" .name "title" .name "deferred" "true") }}
                            </a>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /clients_twocolumns -->

<!-- testimonial -->
{{- else if eq $type "testimonial" -}}
{{- $testimonial_img_format := "70x70 q80 jpg" -}}
<section class="section testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="heading">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 testimonial-wrap">
                {{ range .testimonialitem }}
                <div class="testimonial-block">
                    <p>{{ .content | markdownify }}</p>
                    <div class="client-info d-flex align-items-center">
                        <div class="client-img">
                            {{ partial "fill-image.html" (dict "asset" .image "format" $testimonial_img_format) }}
                        </div>
                        <div class="info">
                            <h6>{{ .name }}</h6>
                            <span>{{ .location }}</span>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- /testimonial -->

<!-- bigcounter -->
{{- else if eq $type "bigcounter" -}}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="heading text-center">
                    <h2>{{ .title | markdownify }}</h2>
                </div>
                <div class="row">
                    {{ range .counteritem }}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="counter-item counter--style text-center mb-5 mb-lg-0">
                            <i class="{{ .icon }}"></i>
                            <h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">{{ .count }}</span>
                                {{ .unit }}</h2>
                            <p>{{ .title }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /bigcounter -->

<!-- promo video -->
{{- else if eq $type "promovideo" -}}
<section class="video-block section bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading feature-list">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <div class="content">{{ $.Inner | markdownify }}</div>
                    {{ if .button.enable }}
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-main mt-4">{{ .label }}<i
                            class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video-img">
                    <img src="{{ .videothumb | relURL }}" alt="" class="img-fluid">
                    <a data-video-id="{{ .videoid }}" class="video-play"><i class="ti-control-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /promo video -->

<!-- sideimg -->
{{- else if eq $type "sideimg" -}}
{{- $sideimg_default_format := "1080x720 q60 jpg" -}}
<section class="section bg-light{{ with .class }} {{ . }}{{ end }}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="feature-list">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <div class="content">{{ $.Inner | markdownify }}</div>
                    {{- if .button.enable -}}
                    {{- with .button -}}
                    <a href="{{ .link | relURL }}" class="btn btn-main mt-4">{{ .label }}<i class="ti-angle-right ml-2"></i></a>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
            <div class="col-lg-6 sideimg-img">
                {{- with .format -}}
                {{- $sideimg_default_format = . -}}
                {{- end -}}
                {{ if isset . "link" }}
                <a href="{{ .link | relURL }}">{{ partial "fill-image.html" (dict "asset" .image "format" $sideimg_default_format) }}</a>
                {{ else }}
                {{ partial "fill-image.html" (dict "asset" .image "format" $sideimg_default_format) }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- /sideimg -->

<!-- team -->
{{- else if eq $type "team" -}}
{{- $teammember_img_format := "370x420 q80 jpg" -}}
<section class="section team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="heading text-center mb-50">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .teammember }}
            {{ with partial "person.html" (dict "person" . "ctx" $) }}
            <div class="team-block-col col-lg-3 col-6">
                <div class="team-block mb-5 mb-lg-0">
                    {{- partial "fill-image.html" (dict "asset" .image "format" $teammember_img_format "alt" .name) -}}
                    <h4 class="mt-3 mb-1">{{ .name }}
                        {{- with .social -}}
                        <ul class="list-inline team-socials mx-1">
                            {{- range . -}}
                            <li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
                            {{- end -}}
                        </ul>
                        {{- end -}}
                    </h4>
                    <p class="condensed-text">
                        {{- if .institution -}}
                        {{ .institution | safeHTML }} — <i>{{ .designation | safeHTML }}</i>
                        {{- else -}}
                        {{ .designation | safeHTML }}
                        {{- end -}}
                    </p>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<!-- /team -->

<!-- pricing -->
{{- else if eq $type "pricing" -}}
<section class="section pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="heading text-center mb-50">
                    <h2 class="mb-3">{{ .title | markdownify }}</h2>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .pricingtable }}
            <div class="col-lg">
                <div class="pricing-block card text-center">
                    <div class="price-header">
                        <span class="text-uppercase letter-spacing h5">{{ .name }}</span>
                        <h2>{{ .price }}</h2>
                        <h6 class="text-muted">{{ .duration }}</h6>
                    </div>
                    <div class="price-body">
                        <ul class="list-unstyled mb-0">
                            {{ range .serviceList }}
                            <li>{{ .listItem | markdownify }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="price-footer">
                        {{ with .button }}
                        <a href="{{ .link | safeURL }}" class="btn btn-main">{{ .label }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /pricing -->

<!-- services -->
{{- else if eq $type "services" -}}
{{- $services_img_format := "640x360 q60 jpg" -}}
{{- $numbering := or (not (isset . "numbering")) (.numbering) -}}
<section class="section">
    <div class="container">
        {{ with .title }}
        <h2 class="text-md mb-5">{{ . }}</h2>
        {{ end }}
        {{ $.Scratch.Set "counter" 0 }}
        {{ range $index, $element := .serviceitem }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        <div class="row flex-lg-row content-padding-bottom">
            <div class="col-lg-6{{ if not (modBool $index 2) }} order-lg-last{{ end }}">
                <div class="service-img mb-5 mb-lg-0">
                    {{ partial "fill-image.html" (dict "asset" .image "format" $services_img_format) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-info">
                    {{ if $numbering }}
                    <span class="text-color font-weight-bold">{{if lt $index 9}}0{{end}}{{$.Scratch.Get `counter`}}</span>&nbsp;
                    {{ end }}
                    {{ partial "badges.html" $element }}
                    <h3 class="text-md mb-4 mt-2">{{ .title | markdownify }}</h3>
                    <div class="content">{{ .content | markdownify }}</div>
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-solid-border mt-2">{{ .label }} <i class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
<!-- /services -->

<!-- fit-services -->
{{- else if eq $type "fit-services" -}}
{{- $services_img_format := "640x360 q60 jpg" -}}
{{- $numbering := or (not (isset . "numbering")) (.numbering) -}}
<section class="section">
    <div class="container">
        {{ with .title }}
        <h2 class="text-md mb-5">{{ . }}</h2>
        {{ end }}
        {{ $.Scratch.Set "counter" 0 }}
        {{ range $index, $element := .serviceitem }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        <div class="row flex-lg-row content-padding-bottom">
            <div class="col-lg-6{{ if not (modBool $index 2) }} order-lg-last{{ end }}">
                <div class="service-img mb-5 mb-lg-0">
                    {{ if isset . "link" }}
                    <a href="{{ .link }}">{{ partial "fit-image.html" (dict "asset" .image "format" $services_img_format) }}</a>
                    {{ else }}
                    {{ partial "fit-image.html" (dict "asset" .image "format" $services_img_format) }}
                    {{ end }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-info">
                    {{ if $numbering }}
                    <span class="text-color font-weight-bold">{{if lt $index 9}}0{{end}}{{$.Scratch.Get `counter`}}</span>&nbsp;
                    {{ end }}
                    {{ partial "badges.html" $element }}
                    {{ if isset . "link" }}
                    <a href="{{ .link }}"><h3 class="text-md mb-4 mt-2">{{ .title | markdownify }}</h3></a>
                    {{ else }}
                    <h3 class="text-md mb-4 mt-2">{{ .title | markdownify }}</h3>
                    {{ end }}
                    <div class="content">{{ .content | markdownify }}</div>
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-solid-border mt-2">{{ .label }} <i class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
<!-- /fit-services -->

<!-- case study -->
{{- else if eq $type "casestudy" -}}
{{- $casestudy_img_format := "640x360 q60 jpg" -}}
<section class="section case-study">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="case-study-content text-center mb-5">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
        {{ range $index, $element := .case }}
        {{if (modBool $index 2)}}
        <div class="case-timeline">
            <div class="case-timeline-divider"></div>
            <div class="case-timeline-dot"></div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="case-img">
                        {{ partial "fill-image.html" (dict "asset" .image "format" $casestudy_img_format "alt" .title) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-content">
                        <h4 class="mb-3">{{ .title | markdownify }}</h4>
                        <p>{{ .content | markdownify }}</p>
                        {{ with .button }}
                        <a href="{{ .link | relURL }}" class="btn btn-solid-border mt-2">{{ .label }} <i class="ti-angle-right ml-2"></i></a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ else }}
        <div class="case-timeline">
            <div class="case-timeline-divider"></div>
            <div class="case-timeline-dot"></div>
            <div class="row align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="case-content">
                        <h4 class="mb-3">{{ .title | markdownify }}</h4>
                        <p>{{ .content | markdownify }}</p>
                        {{ with .button }}
                        <a href="{{ .link | relURL }}" class="btn btn-solid-border mt-2">{{ .label }} <i class="ti-angle-right ml-2"></i></a>
                        {{ end }}
                    </div>
                </div>
                <div class="col-lg-6  order-1 order-lg-2">
                    <div class="case-img">
                        {{ partial "fill-image.html" (dict "asset" .image "format" $casestudy_img_format "alt" .title) }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
<!-- /case study -->

<!-- solutions -->
{{- else if eq $type "solutions" -}}
<section class="section service">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="heading">
                    <h2 class="mb-4">{{ .title | markdownify }}</h2>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            {{ range .serviceitem }}
            <div class="col-lg-4 col-md-6">
                <div class="service-item-list content">
                    <i class="{{ .icon }}"></i>
                    <p>{{ .title | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /solutions -->

<!-- small cta -->
{{- else if eq $type "smallcta" -}}
<section class="cta-2 bg-light">
    <div class="container">
        <div class="cta-block py-5">
            <div class="row align-items-center ">
                <div class="col-lg-8">
                    <span class="text-color">{{ .subtitle | markdownify }}</span>
                    <h2 class="mt-2 mb-4 mb-lg-0">{{ .title | markdownify }}</h2>
                </div>
                {{ if .button.enable }}
                <div class="col-lg-4">
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-main btn-round-full float-lg-right">{{ .label }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- /small cta -->

<!-- contact form -->
{{- else if eq $type "contact" -}}
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="text-color">{{ .subtitle }}</span>
                <h3 class="text-md mb-5">{{ .title }}</h3>
                <div class="row">
                    <div class="col-lg-8">
                        <form id="contact-form" class="contact__form" method="post" action="#">
                            <!-- form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="email" id="email" type="email" class="form-control" placeholder="Your email address" required>
                            </div>
                            <div class="form-group">
                                <input name="subject" id="subject" type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group-2 mb-4">
                                <textarea name="message" id="message" class="form-control" rows="4"
                              placeholder="Message" required></textarea>
                            </div>
                            <button class="btn btn-main" name="submit" type="submit">Send Message</button>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="short-info mt-5 mt-lg-0">
                            <ul class="list-unstyled content">
                                {{- with $.Site.Params.contact.mobile -}}
                                <li><h5>Call Us</h5>{{ . }}</li>
                                {{- end -}}
                                {{- with $.Site.Params.contact.email -}}
                                <li><h5>Email Us</h5><a href="mailto:{{ . }}" target="_blank">{{ . }}</a></li>
                                {{- end -}}
                                {{- with $.Site.Params.contact.location -}}
                                <li><h5>Location</h5><a href="{{ $.Site.Params.contact.location_link }}">{{ . }}</a></li>
                                {{- end -}}
                                {{- with $.Site.Params.contact.text -}}
                                <li>{{ . | markdownify }}</li>
                                {{- end -}}
                            </ul>
                            <ul class="social-icons list-inline mt-5">
                                {{ range $.Site.Params.social }}
                                <li class="list-inline-item">
                                    <a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ with resources.Get "js/contact.js" | minify | fingerprint }}
<script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}
<!-- /contact form -->

<!-- map -->
{{- else if eq $type "map" -}}
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="google-map mt-90 mb-5">
                    <div id="map" data-latitude="{{ with $.Site.Params.mapLatitude }} {{ . }} {{ end }}"
                        data-longitude="{{ with $.Site.Params.mapLongitude }} {{ . }} {{ end }}"
                        data-marker="{{ with $.Site.Params.mapMarker }} {{ . | relURL }} {{ end }}"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /map -->

<!-- branch -->
{{- else if eq $type "branch" -}}
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            {{ range .branchoffice }}
            <div class="col-lg-4 col-md-6">
                <div class="contact-info">
                    <h4 class="mb-4">{{ .title | markdownify }}</h4>
                    <ul class="address-block list-unstyled">
                        {{ range .info }}
                        <li><i class="{{ .icon }} mr-3"></i>{{ .label }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /branch -->

<!-- column list -->
{{- else if eq $type "column-list" -}}
<section class="section{{ with .class }} {{ . }}{{ end }}">
    <div class="container">
        <div class="row align-items-center">
            {{ with .title }}
            <div class="col-12"><h2 class="mb-4">{{ . | markdownify }}</h2></div>
            {{ end }}
            {{ range .columns}}
            <div class="col-lg-6 align-self-start">
                <div class="feature-list">
                    {{ with .title }}<h2 class="mb-4">{{ . | markdownify }}</h2>{{ end }}
                    <div class="content">
                        {{ .content | markdownify }}
                    </div>
                    {{ if .button.enable }}
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-main mt-4">{{ .label }}<i class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /column list -->

<!-- articles list -->
{{- else if eq $type "articles-list" -}}
{{- $cardlist_img_format := "640x360 q60 jpg" -}}
<section class="section articles-list{{ with .class }} {{ . }}{{ end }}">
    <div class="container">
        {{ with .title }}<h2 class="text-md mb-5">{{ . }}</h2>{{ end }}
        <div class="row">
            {{ range .articles }}
            <div class="col-md-4">
            <div class="card shadow mb-4">
                {{ partial "fill-image.html" (dict "asset" .image "format" $cardlist_img_format "class" "card-img-top") }}
                <div class="card-body">
                    <h6 class="card-subtitle mt-1 mb-3 text-muted font-weight-light">{{ .subtitle | markdownify }}</h6>
                    <h5 class="card-title">{{ .title | markdownify }}</h5>
                    {{ with .button }}
                    <a href="{{ .link | relURL }}" class="btn btn-solid-border my-2">{{ .label }}<i class="ti-angle-right ml-2"></i></a>
                    {{ end }}
                </div>
                {{ with .date }}
                <div class="card-footer text-muted">
                    <small class="text-black text-capitalize mr-3"><i class="ti-calendar mr-1"></i> {{ . | dateFormat "02 Jan 2006" }}</small>
                </div>
                {{ end }}
            </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /articles list -->

{{- else -}}
{{- errorf "Unknown row type %s" $type -}}

{{- end -}}
{{- end -}}
